*, *:hover, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background:#AB05F2;
    --start-button:#F29B30;
    --start-btn-hover:hsl(27, 88%, 57%);
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(87,58,180);
    background: -moz-linear-gradient(169deg, rgba(87,58,180,1) 0%, rgba(139,10,210,1) 64%, rgba(135,15,170,1) 97%);
    background: -webkit-linear-gradient(169deg, rgba(87,58,180,1) 0%, rgba(139,10,210,1) 64%, rgba(135,15,170,1) 97%);
    background: linear-gradient(169deg, rgba(87,58,180,1) 0%, rgba(139,10,210,1) 64%, rgba(135,15,170,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#573ab4",endColorstr="#870faa",GradientType=1); 
}

button{
    cursor: pointer;
}


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 1px 1px rgba(0,0,0,0.5);
    border: 2px solid rgba(0,0,0,1);
}

.question-answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    align-content: space-between;
    margin-bottom: 60px;
}

.hide{
    display: none;
    transition: 1000ms;
}

.title{
    font-family: 'Bangers', cursive;
    color: #ffffff;
    font-size: 60px;
    text-shadow: 2px 2px rgba(0,0,0,1);
    padding-bottom: 50px;
}
.start-btn{
    background-color: #ffffff;
    padding: 10px 20px;
    color: #000000;
    border-radius: 80px;
    border: 2px solid rgba(0,0,0,1);
    font-family: 'Balsamiq Sans', cursive;
    font-size: 40px;
    transition: 300ms;
}

.start-btn:hover{
    background-color: #ebdbf1ec;
}

.alternatives, .try-again-btn{
    padding: 20px;
    border-radius: 8px;
    background-color:#AB05F2;
    color: #ffffff;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 1px 1px rgba(0,0,0,0.3);
    transition: 300ms;
}

.alternatives{
    width: 95%;
}

.try-again-btn{
    width: 40%;
    font-size: 20px;;
    align-self: center;
    margin-bottom: 20px;
}

.alternatives:hover, .try-again-btn:hover{
    background-color:#8403bb;
}

.question-title{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
.question-title, .alternatives, .score, #result, .try-again-btn{
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
}

.score{
    font-size: 24px;
    align-self: center;
    margin-left: 10px;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.correct_answer{
    background-color: greenyellow !important;
}

.incorrect_answer{
    background-color: red !important;
}
